<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>チュートリアル</title>
    <!--<link rel="stylesheet" href="../../assets/css/responsive.css">-->
    <link rel="stylesheet" href="../../assets/css/tutorial.css">
</head>

<body>
<!-- header section -->
<section role="banner">
    <!--header navigation -->
    <header id="header">
        <div id="v_menu">
            <template v-for="menu in menuList">
                <div>{{menu.title}}</div>
                <nav role="navigation" v-for="subMenu in menu.list">
                    <ul>
                        <li><a v-bind:href="subMenu.link">{{subMenu.display}}</a></li>
                    </ul>
                </nav>
            </template>
        </div>
    </header>
    <!--header navigation -->
</section>
<!-- header section -->
<!-- text banner section -->
<section id="banner">
    <div id="v_taskPanel">
        <div>
            <ul v-for="row in panelList">
                <li>
                    <div>
                        <blockquote>
                            <h1>{{row.title}}</h1>
                            <p>{{row.description}}</p>
                            <div v-for="button in row.buttonList">
                                <button>{{button.title}}</button>
                            </div>
                            <div v-for="hint in row.hintList">
                                <a v-bind:href="hint.link">{{hint.title}}</a>
                            </div>
                        </blockquote>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- portfolio section -->
<!-- footer -->
<footer>
    <div>
        <div>
            <div>
                <p>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
                </p>
                <p>© 2018 All rights reserved. All Rights Reserved<br>
                    Made with by ssk
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->
<!-- JS FILES -->

<script src="../../assets/lib/vue.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../../assets/js/tutorial/vue_panel.js"></script>
<script src="../../assets/js/vue_menu.js"></script>

</body>
</html>

